# Welcome to Verzeo  Online Learning Program
Topics to be covered

* Anaconda Installation
* Introduction to Python 

* Jupyter IDE and its shortcuts

* Python data types

* Variable

* Print function and strings

* Math function and programming basics

*  Variables and Loops introduction

* Loops detailed

* Functions and Function Parameters

* Packages and Modules with PIP

## Anaconda Installation

* Download the Anaconda installer from https://www.anaconda.com/distribution/#windows
* Double click on the downloaded file to launch the installer* 
* Click Next
* Read the licensing terms and click “I Agree”
*  Select an install for “Just Me* ” unless you’re installing for all users (which requires Windows Administrator privileges) and click Next
* Select a destination folder to install Anaconda and click the Next button
* Check add Anaconda to your PATH environment variable
* Choose whether to register Anaconda as your default Python. Unless you plan on installing and running multiple versions of Anaconda or multiple versions of Python, accept the default and leave this box checked
* Click the Install button. If you want to watch the packages Anaconda is installing, click Show Details. Click the Next button
* After a successful installation you will see the “Thanks for installing Anaconda” dialog box

# What is python???

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

# Features
* Simplicity
* It's free
* Compatibility
* Object-oriented
* LIbraries
* Community support
* Python is used for web, desktop applications development, automation scripts, complex calculation systems, scientific computing, life support management systems, Internet of Things, games, robotics, natural language processing and many more.
* Python one of the most versatile programming languages in the world which can easily fit any project. Still, we need to mention that Python is very popular in scientific area. Especially in Data Mining and Machine Learning programs.


We will start learning python with creating variables which can hold single values. Lets create two variables holding values `"5"` and `"data science"` respectively

In [ ]:
x=5
y="data science"

# Any text followed by '#' is not conisdered python code. These are called comments
# shortcut for commenting is : select the line(s) which you want to comment and then use Ctrl+/
# short cut for executing your code is shift+enter


This created two variables **x** and **y**. To find out what value a variable holds. just type in the variable name and hit shift+enter, value will be printed.

In [ ]:
type(x)

In [ ]:
print(type(x))
x # printed default

In [ ]:
y

In [ ]:
type(y)

You need to keep in mind that Python is case sensitive . If you type in `X` you'll get an error because we havent yet created `X`. Lets see.

In [ ]:
X

In [ ]:
1x = 7
1x

### Variable Naming


You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow


* Variable names can not have spaces in between.
* They can not contain any special character except underscore [i.e. _ ]
* Variable names can not start with a number , however you can have numbers anywhere else in the variable name


In addition to these rules there are few good practices when you are naming your variables. Google python style guide  recommends following way of naming variables based on what type of variables they are.


module_name, package_name, ClassName, method_name, ExceptionName, function_name, 
GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, 
function_parameter_name, local_var_name


*Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.*

Lets see an example below , you decide yourself which variable name is more readable.

In [ ]:
isthisareadablename=3
_or_this_is_more_readable_despite_being_longer=4

There are few names which are reserved and can not be used as variable names . These names are used within python framework as keywords and hold special syntactical meaning and hence can not be used as variable names. Here is the list.


['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


These words are not really the ones which generally come as possible variable names to mind , so dont bother about mugging up the list. Python throws an error anyway , if you try to use any of these as variable names. Lets see

In [ ]:
Tru = 4


### variable types


If you havent noticed , check the code for creating variables **x** and **y** . We did not need to specify any variable type before assigning values to them. However if you check their type as follows:

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
x='data'
x

Note: when assigning a string/char value to a variable it doesn't matter whether you use single quotes [''] or double quotes [""]

There are functions available to convert type of variables to another. Here is one example, you'll discover more such function for type conversion as and when we go forward in the course and encounter more types.

In [ ]:
x='4'
type(x)

In [ ]:
print(int(x))
x

Keep in mind that writing `int(x)` converted the string in x which could be converted to number. If it was string which can not be converted in number then it will throw and error.

In [ ]:
x="some char"
type(x)

In [ ]:
int(x)


One more thing that you should be aware of is that writing `int(x)` did not make any changes in **x**. It only printed the result for `int(x)`. If you do want the change to persist, then you need to equate the output the function back to original variable.

In [ ]:
x="42"
int(x)

In [ ]:
print(x)
type(x)

In [ ]:
x=int(x)
type(x)

In [ ]:
# How to get input from user
num = input("Enter a number ")
print('Entered ',num, ' of type', type(num))
#By default the input value is considered as a string , we can convert it int,float explicitly

In [ ]:
string = input("What is your name?")
print('Entered ',string, ' of type', type(num))
num1 = int(input("Enter a number"))
print('Entered ',num1, ' of type', type(num1))

Now that we know how to create variables holding single values , next we'll look at operations on and between them; starting with numeric operations.

### Numeric Operations 

for simple algebaric operations , usual symbols work. Below are some examples.

In [ ]:
x=22
y=20
x+y

In [ ]:
x-y

In [ ]:
x*y

In [ ]:
x%y

In [ ]:
x/y

In [ ]:
x//y # quotient

you can do multiple operations separated by comma

In [ ]:
x+2,y+3,x+y,x**(x+y)

# you need to use double asterisks for exponents

In [ ]:
x=2
y=3
x**y #^

All this is being calculated and displayed on your console. It changes nothing in the variables involved in the operation. To store the result , assign the operation to a variable. Many small operations can be combined to make a complex one.

In [ ]:
z=(x+y)**x - y/x
z

this is how you can do multiple assignments at once:

In [ ]:
a,b,c,d=x+2,y+3,x+y,x**(x+y)

In [ ]:
a,b,c,d

just to be clear, following will not assign 2 to all of a,b,c. Infact , as you can see , it throws an error.

In [ ]:
a,b,c=2

You should either do this :

In [ ]:
a,b,c=2,2,2
a,b,c

Or this :

In [ ]:
a,b,c=[2,2,2] # []
a,b,c

Or this:

In [ ]:
a,b,c=[2]*3
a,b,c

The last two involve useage of lists which we havent yet learned about. We will in due time.

Function based numeric operations can be found in package math. you dont need to separately install this package. However when you need to use functions from the package you need to `import` it to current session. [ need for importing to use functions from the package is not specific to package `math`. This holds for any package]

In [ ]:
x

In [ ]:
import math
print(math.log(x))
print(math.factorial(5))
print(math.floor(1.7)) # shift + tab
print(math.ceil(1.7))
math.

While importing you can assign custom name to packages being imported and use them instead. For example we are importing package `math` as `m` below:

In [ ]:
import math as m
m.sin(10)
m.factorial(2)
m.

### Logical values and Operations

We will discuss one more important data type here. Which is known as logical or boolean. There are two values of this type `True` and `False`. And they need to be spelled exactly like this for them to be recognised by python as boolean value.

In [ ]:
x=True
y=False

In [ ]:
type(x)

In [ ]:
type(y)


emphasizing again; True and False need to be spelled exactly like this , otherwise they will be taken as some undefined variable.


you can do many operation on these boolean values. Below we have given some examples:

In [ ]:
x and y

In [ ]:
x & y

did you notice that you can use both the operator `and` and symbol `&` for doing and operation? In a similar fashion; for or operation, you can use both operator `or` or symbol `|` [this symbol is found on the same key as "\" on any keyboard ]

In [ ]:
x or y

In [ ]:
x | y

In [ ]:
not x

### Writing Conditions

comparison between two variables or condition can be written using multiple operators as listed below :

* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

we'll also see some string related special condition check and how to write them in the examples given below

In [ ]:
x=34
y=32

x==y

In [ ]:
x!=y

In [ ]:
x>y

In [ ]:
x<y

In [ ]:
x>=y

In [ ]:
x<=y

In [ ]:
x="as"
y="assignment"

x in y

In [ ]:
x not in y

### String values and operations

while assigning a string/character value to any variable, you can use both single quotes ' ' or double quotes " ". They both work the same way.

In [ ]:
x = 'Bombay'
y = "Banglore"
x,y

Next we'll learn function for finding number of characters in a string:

In [ ]:
len(x),len(y)

for concatenating or combining two strings , you can simply use "+" symbol. Lets see that at work:

In [ ]:
x+y

In [ ]:
x+" "+"#*$^"+y

In [ ]:
z=x+" to "+y
z

I have given below many more functions with examples. I have tried to keep the examples self explanatory about what the functions does.

In [ ]:
z.upper()

In [ ]:
z.lower()

this capitalizes the first letter only

In [ ]:
z.capitalize()

following functions are used for removing white spaces from the word. lstrip and rstrip remove white spaces from left and right side of the string, where as strip removes white spaces from both the sides.

In [ ]:
z="   "+z+"    "
z

In [ ]:
z.lstrip()

In [ ]:
z.rstrip()

In [ ]:
z.strip()

In [ ]:
z

In [ ]:
z.title()

In [ ]:
zz ='alpha'

In [ ]:
zz.isalpha()
zz.isupper()

In [ ]:
z = 'Verzeo'
z.islower()

* Note that all of these strip functions are not making any changes in z.

In [ ]:
print(z)
z=z.replace("B","$#@")
z

In [ ]:
print(z)
z=z.strip()
z

In [ ]:
ab = 'ipl_match_1'
lst = ab.split('_')
print(lst)
tup = tuple(lst)
tup

In [ ]:
z = 'Bombay to Banglore'
z

In [ ]:
print(z)
k=z.split("a")
print(k)
print(type(k))

function split, splits a string at given separator . Result of this is a list [ which we will learn about in some time]

Other useful functions that we will explore for string operations : count , find & split.


functions that i want you to explore on your own further are family of function for checking whether a particular piece of string belongs to a certain type or not. Here are those functions :

```
Ex: Find out what following functions do : isalnum,isalpha,isdigit,islower,isupper. 
```

In [ ]:
z='Verzeo'
print(z)
z.count("e")

In [ ]:
z = "Bombay to Banglore"
z.find("b",1) # index()

Did you notice that the count function is case sensitive. "b" is not considered. 

```
Ex : Is there an option within function count using which we can make the count case insensitive.

```

function find gives location of first occurence of the pattern in the string. you can change the part of the string being searched using options "beg" and "end" [ exploring those options has been left to you].

```
Ex : find out how can we change search range for function find

```

In [ ]:
# v, e, r , z , e ,o 
# 0 ,1, 2, 3, 4, 5  
# -6,-5,-4,-3,-2,-1 #-1

## Subsetting a string with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 1.
* [-a:], means starting at (a+1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [ ]:
z = 'verzeo'
print(z)
z[2:5]

In [ ]:
print(z)
z[2:]

In [ ]:
print(z)
z[:3]

In [ ]:
print(z)
z[:-3]

In [ ]:
print(z)
# verzeo
# 012345
# -6,-5,-4,-3,-2,-1
# z[4:0:-1]
# print(z[0:4])
print(z[-5:-1:1])
# z[-1:-5:-1]

In [ ]:
print(z)
z[-1:-5:-1]

In [ ]:
print(z)
z[1::3]

In [ ]:
print(z)
z[::-1]

In [ ]:
z

In [ ]:
z[2:1:-1]
# ver

### Lists
Lists are one of the higher data types which is used in python a lot . This is our first encounter with data structures which can hold more than one value. lets see how to create a list with multiple values.

In [ ]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
x

selection and slicing works pretty much like strings we saw earlier here also counting starts from 0. Lets look at few examples for the same.

In [ ]:
print(x)
x[3:7]

In [ ]:
print(x)
x[3:]

In [ ]:
print(x)
x[:3]

In [ ]:
print(x)
x[3:-3]

In [ ]:
print(x)
x[3::3] # third argument here is step

In [ ]:
print(x)
x[::2]

while accessing the elements with position , we can do replacement/substitution of the values too. Here is how:

In [ ]:
print(x)

x[2]

In [ ]:
x[2]="!!!"
x

In case multiple assignment, value is then treated as a list with each char as individual element

In [ ]:
print(x)
x[2:4]= "bipin"
print(x)

For a string to be treated as a single word instead of a char list you need to wrap it in a list as shown below

In [ ]:
x=[23,45,67,2,5]

x[2:4]

In [ ]:
list('bipin')

here is another way of adding newer elemnets simply at the end of the list:

In [ ]:
print(x)
x.append("new")
print(x)

if you append a list to a list , entire list gets added to the end as a single element.

In [ ]:
print(x)
x.append([1,2,3])
print(x)

In [ ]:
x[6]

However if you use extend instead , member of list are added at the end as individual elements separately

In [ ]:
print(x)
x.extend([1,2,3])
print(x)

Using insert you can add new element at any position of the list. Note that its not replacing the element at that position. Insertion increases size of the list.

In [ ]:
print(x)
x.insert(2,"another")
print(x)

another way to extend [ without using the function extend ] is to simply use symbol "+"

In [ ]:
print(x)
x=x+[3,4,5]
print(x)

For removing elements we will first look at function pop. One special thing to notice about pop is that it removes the last element in place [does change x]. Lets look at it in action

In [ ]:
print(x)
x.pop()

print(x)

you can pass the position as argument to pop, to remove values from a sepcific position.

In [ ]:
print(x)
x.pop(5)
print(x)

For removing by specifying the value , you need to use function remove. Here is an example:

In [ ]:
print(x)
x.remove("another")
print(x)

If you try to remove something which is not in the list , you'll get an error. Since we already removed "another" from the list. Lets try to remove it again. we'll get an error

In [ ]:
x.remove("another")

```
Ex: what if there are multiple occurences of the value which you are trying to remove. Is there a way to remove multiple values at once or a value at a specific position?
```

next we look at sorting the list. sorting and resversing functions that we see, they do so in place.

You just saw a wierd way of creating that list, we'll understand how that was done, but before that we'll learn how to write for loops next.

In [ ]:
#Two Dimensional Lists, below are list of lists where each have a individual list inside it
number_sets = [[2, 4, 6, 8,[1,2,[1,2,3,4]], 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(number_sets[1])

The second list of numbers will print out. In order to access those lower elements, you need to use a second set of square brackets. In the first set of square brackets, specifies the top level element that you want to access.

In the example below, that is the first list. Then, in the second set of brackets, specifies the element within that initial top level element that you want. In that same example, it's the second element, or the number "4."

In [ ]:
number_sets = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(number_sets[1][2])

In [ ]:
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]] 
a[0].extend([12, 14, 16, 18]) 
print(a)

In [ ]:
# Reversing a sublist  
  
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]] 
a[2].reverse() 
print(a)

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
# for (i=0;i<n;i++)
# {
#     PRINT(I)statements
# }


for i in range(10):
    print((i-5)**2, end= ' ')
    print("inside") # ctrl+ /
print('outside loop')

In [ ]:
x=[ (i-5)**2 for i in range(10) ]
print(x)
x.sort() # sorts in place
print(x)
x.reverse() # reverses in place
print(x)

### For Loops

For loops are a way to bring down amount of code that you need to write to do an operation which is very repeating in nature. for example consider this list:

In [ ]:
cities = ["delhi","Banglore","mumbai","pune"]

Now lets say we had to print number of letters in each member of the list. we could do something as given below:

In [ ]:
print(len(cities[0]))
print(len(cities[1]))
print(len(cities[2]))
print(len(cities[3]))

Imagine that list now having 100s of cities , would you still be writing that code the same way? There must be a better way , and there certainly is , its called for loop. Lets see how its written:

In [ ]:
for i in list(range(4)):
    print(len(cities[i]),end = ' ')

Couple of things to discuss here .

i here is iterator which takes value from the value list [ which is [0,1,2,3] here . For each value which iterator takes, statements inside the for loop are executed.

But how do we know what is "inside" the for loop? there are no parenthesis to contain the for loop. 

Notice the indent, that is what defines boundaries in python. You'll get error and your code will not run , if you do not use indentation properly. I like this property of python, it kind of forces you to write code which is easy to read. Which is a very importent but often overlooked property of program. Couple of more points :

* iterator doesnt have to be named "i" , it can be anything.
* Value list doesnt have to be a list of coninuous number sequence, It can be a number list [numbers in any order], character list or something else too
* iterator value need not be used inside the loop

lets look at another way of writing that for loop that we just saw:

In [ ]:
cities

In [ ]:
for city in cities:
    print(len(city))

*Note: print used to work without parenthesis in previous versions of python. You might find many examples online like that.*

### List Comprehensions with For Loops
We'll now see how for loops can be directly written inside for loops to modify and create lists.

In [ ]:
x=range(8)

range(k) creates a list which starts at 0 and contains numbers uptill (k-1) with increment of one from 0. In the example below we have created a simple list containing values 1,2,3,4,5,6,7. From this we want to exract remainder for each value of x when that gets divided by 2.

operator `%` calculates remainder. a%2 will caclulate remiander when a is dvivided by 2.

In [ ]:
100%32

In [ ]:
x=range(8)
print(x)
x_mod_2=[]

for a in x:
    x_mod_2.append(a%2)

x_mod_2

we dont need to do this, instead we can directly write a for loop inside an empty list to populate values . Lets see how:

In [ ]:
# x_mod_2=[]
x_mod_2=[a%2 for a in x]
x_mod_2

We can write list comprehension with conditions also , here is an example:

In [ ]:
print(list(x))

In [ ]:
import math
x_ls2=[math.log(a) for a in x if a%2 !=0]
print(x_ls2)

### Writing your own functions in python

writing functions in python starts with the keyword "def", then the name follows with the required arguments in the the parenthesis. Then after the colon, your function definition starts. Here also you need to be careful about the indentation which defines the function boundary.
Once the calculations are done inside the function, you need to output the result using return. Although its not mandatory that a function should always return something. Here is an example:

In [79]:
x = range(8)
import math

In [80]:
# writing a function in python

def my_func(x): 
    if x%2!=0:
        return(math.log(x))
    else:
        return(x)

x_ls3=[my_func(a) for a in x] 
x_ls3

[0, 0.0, 2, 1.0986122886681098, 4, 1.6094379124341003, 6, 1.9459101490553132]

Notice that any code block [the one inside the function as well] is defined by indents. Level of indent increases when another block is inside some other block as seen here.We'll see many more examples of functions as we move forward in the course. 

you can provide default values to argument as well, so that when those values are not supplied fucntion can work with default values.

In [81]:
def mysum(x=10,y=10):
    return(2*x+3*y)

print(mysum(2,3))  # 13
print(mysum(2))  # 34
print(mysum()) # 50

13
34
50

In [82]:
mysum(4)

38

Here you notice that python figures out which argument values belongs to which input variable by its position. You can also use argument names , which then in turn is useful when there are many arguments to pass and using position as indicator is not feasible. Also; when you name your argument, its position in the input is irrelevant.

In [83]:
print(mysum(y=-10))
print(mysum(y=100,x=1))

-10
302

Next we look at some more data structres which can contain multiple values and hold slightly different properties.

<h2>Python Anonymous/Lambda Function</h2>

In Python, anonymous function is a function that is defined without a name.

While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword.

Hence, anonymous functions are also called lambda functions.

In [85]:
i = 5
while (i !=2):
    print(i)
    i=i-1

5
4
3

In [84]:
# Python code to illustrate cube of a number 
# showing difference between def() and lambda(). 
def cube(y): 
    return y*y*y

z = lambda a : a*a*a
print(z(7)) 

l = lambda a,b : a*b
print(l(7,5)) 

print(cube(5)) 
print(lambda a: a*a*a)
x_ls4=[z(a) for a in x]
x_ls4

343
35
125
<function <lambda> at 0x0493EC48>

[0, 1, 8, 27, 64, 125, 216, 343]


### Dictionaries

dictionaries is data structure where you can store the data with keys. There is no order to the elements, so you can access them with their position. Infact there is no concept of position as such with dictionaries. Lets see how to create a dictionary:

In [86]:
d= {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}

Here "a":"b" is called a key:value pair , where a is key and b is value. Both of them can be any data type. [ however, lists can not be used as keys]. To access the values you need to pass key in square brackets. Below is an example using the dictionary that we created above.

In [87]:
d["actor"]

'nasir'

If the key doesnt exist, then it throws error.

In [88]:
d['fish']

KeyError: 'fish'

In [90]:
d['animal'] = ['dog','cat']

In [91]:
d

{'actor': 'nasir', 'animal': ['dog', 'cat'], 'earth': 1, 'list': [1, 2, 3]}

In [95]:
d['animal'][0]

'dog'

In [94]:
# add new key value pair
d['module']="intro"
print(d)

{'actor': 'nasir', 'animal': ['dog', 'cat'], 'earth': 1, 'list': [1, 2, 3], 'module': 'intro'}

In [96]:
d['list']

[1, 2, 3]

In [97]:
# removing a key value pair
del d['actor']
print(d)

{'animal': ['dog', 'cat'], 'earth': 1, 'list': [1, 2, 3], 'module': 'intro'}

In [98]:
d

{'animal': ['dog', 'cat'], 'earth': 1, 'list': [1, 2, 3], 'module': 'intro'}

In [99]:
# element access in loop
for elem in d:
    print(elem)
    print('value for key:%s is' % (elem) ,":",d[elem]) #format

animal
value for key:animal is : ['dog', 'cat']
earth
value for key:earth is : 1
list
value for key:list is : [1, 2, 3]
module
value for key:module is : intro

You can see that when you write dictionary's name in the for loop like list , value which is passed to iterator is keys of the dictionary, one by one. If you are new to programming , %s in a string is used as placeholder for a string which will be replaced by some value later on in the code. For example in the code above %s is replaced by values of (elem).

if you want to access both key and values , you can make use of *dict*.items(). Here is how:

In [103]:
d.items()

dict_items([('animal', ['dog', 'cat']), ('earth', 1), ('list', [1, 2, 3]), ('module', 'intro')])

In [101]:
for a,b in d.items():
    print('value for key:%s is %s' %(a,b))

value for key:animal is ['dog', 'cat']
value for key:earth is 1
value for key:list is [1, 2, 3]
value for key:module is intro

Change or add elements in a dictionary

Dictionary are mutable. We can add new items or change the value of existing items using assignment operator.

If the key is already present, value gets updated, else a new key: value pair is added to the dictionary.

In [104]:
my_dict = {'name':'Guhan', 'age': 24}

# update value
my_dict['age'] = 26

#{'name': 'Guhan', 'age': 26}
print(my_dict)

# add item
my_dict['address'] = 'CHennai'  

#{'name': 'Guhan', 'age': 26, 'address': 'CHennai'}
print(my_dict)

{'name': 'Guhan', 'age': 26}
{'name': 'Guhan', 'age': 26, 'address': 'CHennai'}

**Delete or remove elements from a dictionary**

We can remove a particular item in a dictionary by using the method pop(). This method removes as item with the provided key and returns the value.

The method, popitem() can be used to remove and return an arbitrary item (key, value) form the dictionary. All the items can be removed at once using the clear() method.

We can also use the del keyword to remove individual items or the entire dictionary itself.

In [105]:
# create a dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}  

# remove a particular item
# Output: 16
print(squares.pop(4))   

# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

# delete a particular item
del squares[5]  

# Output: {1:1,2: 4, 3: 9}
print(squares)

# remove all items
squares.clear()

# Output: {}
print(squares)

# delete the dictionary itself
del squares

# Throws Error
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
{1: 1, 2: 4, 3: 9}
{}

NameError: name 'squares' is not defined

### Sets

Sets are another type of data structres which can contain multiple elements. This is also unordered like dictionaries , as in their is concept of a fixed position like lists. Also elements have to be unique in it. Lets see how to create a set.

In [106]:
animals = {'cat', 'dog'}

You can use `in` operator to check whether an element is ther in set or not.

In [107]:
'cat' in animals

True

In [108]:
'fish' in animals

False

In [109]:
animals.add('fish')
print(animals)

{'fish', 'cat', 'dog'}

You can use functions `add` and `remove` to add and remove elements to and from sets.

In [110]:
animals.add('cat')   
print(animals)

{'fish', 'cat', 'dog'}

you can see that if the element already existed in set, its not repeated. Python doesnt throw an error either. However if element is not there in the set, it is added.

In [111]:
animals.add('cow')
print(animals)

{'cow', 'fish', 'cat', 'dog'}

In [112]:
animals.remove('cat')
print(animals)

{'cow', 'fish', 'dog'}

because of sets being unordered , you can not assume the order which you see while creating it; while using it in a for loop comprehension. See below:

In [113]:
animals = {'cat', 'dog', 'fish','here','there'}
for animal in animals:
    print(animal)

there
cat
fish
here
dog

We'll next explore following functions associated with sets : 

union, intersection, issubset, issuperset, differnce, symmetric_differnce

In [114]:
a={1,2,3,4,5,6,'one'}
b={4,5,6,7,8,9}

In [115]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'one'}

In [116]:
a.intersection(b)

{4, 5, 6}

In [117]:
a.issubset(b)

False

In [118]:
a.issubset(c)

True

In [119]:
c.issuperset(b)

True

Difference between function symmetric_difference and difference is as follows:

* s.difference(t) :	new set with elements in s but not in t
* s.symmetric_difference(t) :  new set with elements in either s or t but not both

lets see with our own examples :

In [ ]:
b1 = a 
b1.issubset(a)

In [120]:
print(a)
print(b)
a.difference(b)

{1, 2, 3, 4, 5, 6, 'one'}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 'one'}

In [121]:
print(a)
print(b)
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 'one'}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9, 'one'}

### Tuples
Tuples can be understood to be immutable lists. Immutable means , you can not change its elements. Lets see how to create tuples :

In [122]:
t = 12345, 54321, 'hello!' 
t

(12345, 54321, 'hello!')

In [123]:
t = ( 12345, 54321, 'hello!') # same thing
t

(12345, 54321, 'hello!')

In [124]:
a,b,c = 2,2,2 
a,b,c

(2, 2, 2)

tuples can contain tuples themselves just like lists

In [125]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

Lets understand immuatability better with an example :

In [126]:
t

(12345, 54321, 'hello!')

In [127]:
t[0] = 21 # you can not reassign

TypeError: 'tuple' object does not support item assignment

But tuples can have mutable objects such as lists. So that tuple's elements can not be changed , but it's mutable element's element can be changed. You'll see in the example below; when we try to change element of tuple, we get an error. But when we try to change element of a mutable element, it can be done.

In [128]:
v = ([1, 2, 3], [3, 2, 1])

In [129]:
type(v)

tuple

In [130]:
v[0]=1

TypeError: 'tuple' object does not support item assignment

In [131]:
v

([1, 2, 3], [3, 2, 1])

In [134]:
print(v)
v[1][0]=21
print(v)

([1, 2, 3], [21, 2, 1])
([1, 2, 3], [21, 2, 1])

In [138]:
var = 13
tup = (var,12,13)
print(tup)
var =14
print(var)
tup

(13, 12, 13)
14

(13, 12, 13)

one of the most important differences in tuples and lists is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [139]:
a =    [a%2 for a in  range(10)]
print(a)
d1 = {x: x%2 for x in range(10)}  
print(d1)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
{0: 0, 1: 1, 2: 0, 3: 1, 4: 0, 5: 1, 6: 0, 7: 1, 8: 0, 9: 1}

In [142]:
d2 = {(x, x + 1): x for x in range(10)}  
# Create a dictionary with tuple keys
print(d2)

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}

In [143]:
d2

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [144]:
t = (5, 6)   
print(type(t))
print(d2[t])

<class 'tuple'>
5

In [151]:
a = [(1,2,4),(2,4,6)]

In [153]:
a[1][2] = 1 
a

TypeError: 'tuple' object does not support item assignment

In [ ]:
d2

In [ ]:
d2 = {[x, x + 1]: x for x in range(10)}  
# Create a dictionary with tuple keys
print(d2)

In [149]:
b = ((1,4,3),(34,2,7))

In [150]:
sorted(b) # tuples can not be sorted

[(1, 4, 3), (34, 2, 7)]

In [154]:
ax =input('enter')
list1 = ax.split(',')

enter1,2,3,4,5

In [155]:
list1

['1', '2', '3', '4', '5']

In [164]:
list1 = [1,2,4,5]
for i in enumerate(list1):
    print(i)
#     print('index:',i[0])
#     print('value at index %d:'%(i[0]) ,i[1])

(0, 1)
(1, 2)
(2, 4)
(3, 5)

In [159]:
b = list1.copy() # to copy a list

In [160]:
b[0]= 11

In [161]:
print(b) # b alone updated but not list1

[11, 2, 4, 5]

In [162]:
list1

[1, 2, 4, 5]

In [165]:
for i in list1:
    print(i,end=' ')

1 2 4 5